@media (max-width: 1600px) {
    .qoute-img {
    position: absolute;
    top: 300px;
    width: calc(100% - 2%);
    left: 1%;
    }
    .qoute-img img {
        width: 20%;
    }
}
@media screen and (max-width:1400px){
    .acc-head {
        padding: 30px 30px 30px 120px;
    }
    .acc-content {
        padding: 0 10px 30px 120px;
    }
    .acc-head h4 {
        font-size: 26px;
    }
    .acc-content p {
        font-size: 22px;
        line-height: normal;
    }
    .testimonial > .container > .qoute-img {
        position: absolute;
        top: 300px;
        width: calc(100% - 4%);
        left: 4%;
    }
}
@media screen and (max-width:1200px){
    .site-banner {
        height: 700px;
    }
    .site-logo a {
        max-width: 250px;
    }
    .site-banner-warp .grid {
        align-items: center;
    }
    .banner-content h2 {
        margin: 0 0 40px;
        font-size: 38px;
    }
    .banner-content h2 b {
        font-size: 48px;
    }
    .ray-img {
        top: 0;
    }
    .speaker {
        transform: translate(-130px, 40px);
        max-width: 290px;
    }
    .M-clr_btn a {
        font-size: 20px;
    }
    .views-card .top-content h4 {
        font-size: 92px;
    }
    .views-card .btm-content {
        margin-top: 25px;
    }
    .card_content {
        padding: 63px 25px 25px;
        min-height: 390px;
    }
    .stack-cards .card span {
        font-size: 52px;
    }
    .stack-cards .card  p {
        font-size: 60px;
    }
    .stack-cards .card {
        min-height: 450px;
    }
    .media-logo img[alt="umediaprologobg"] {
        margin-right: 50px;
        max-width: 350px;
    }
    .the-diffrences-wrap {
        max-width: 940px;
    }
    .media-text h3 {
        font-size: 40px;
    }
    .check-list li p {
        font-size: 24px;
        line-height: normal;
    }
    .benefits-list ul li img {
        max-width: 25px;
        aspect-ratio: 1;
    }
    .benefits-list ul li {
        padding: 25px 0;
    }
    .section-title {
        font-size: 68px;
        text-align: center;
    }
    .sub-title {
        font-size: 32px;
    }
    .testimonial-content .section-title {
        text-align: center;
    }
    .testimonial-content > p {
        font-size: 42px;
        max-width: 750px;
        margin: 0 auto;
        text-align: center;
    }
    .just-imagine-content h4, .just-imagine-content h3 {
        font-size: 40px;
    }
    .just-imagine-content p {
        font-size: 36px;
    }
    .just-imagine-content .M-clr_btn {
        margin-top: 30px;
    }
    .timing button {
        font-size: 28px;
    }
    .diff-heading {
        font-size: 62px;
    }
    .acc-head h4 {
        font-size: 22px;
        line-height: normal;
    }
    .acc-content p {
        font-size: 20px;
    }
    .views-sec {
        padding: 120px 0 40px;
    }
    .faq-shape-1 img {
        max-width: 180px;
    }
    .faq-shape-2 {
        bottom: -70px;
        height: auto;
    }
    .faq-shape-2 img {
        height: auto;
        width: 100%;
        max-width: 160px;
    }
}
@media screen and (max-width:991px){
    .site-banner {
        height: 600px;
        padding-top: 100px;
    }
    .site-banner-warp .grid {
        grid-template-columns: 1fr 1.1fr;
    }
    .stack-cards .card  p {
        font-size: 48px;
    }
    .footer-middle p {
        font-size: 22px;
    }
    .footer-middle p a {
        font-size: 22px;
    }
    .primary-btn a {
        font-size: 18px;
        padding: 10px 30px;
    }
    .footer-middle {
        margin: 79px 0 90px;
    }
    .media-logo {
        justify-content: space-between;
        max-width: 500px;
    }
    .media-logo img[alt="umediaprologobg"] {
        margin-right: 30px;
        max-width: 290px;
    }
    .media-text h3 {
        font-size: 28px;
    }
    .media-logo img {
        max-width: 100px;
    }
    .check-list li p {
        font-size: 20px;
    }
    .section-title {
        font-size: 58px;
    }
    .sub-title {
        font-size: 26px;
    }
    .testimonial-content > p {
        font-size: 28px;
        max-width: 450px;
    }
    .just-imagine-content h4, .just-imagine-content h3 {
        font-size: 32px;
    }
    .just-imagine-content p {
        font-size: 28px;
    }
    .M-clr_btn a {
        font-size: 18px;
    }
    .diff-heading {
        font-size: 48px;
    }
    .acc-head {
        padding: 25px 25px 25px 80px;
    }
    .acc-content {
        padding: 0 10px 25px 80px;
    }
    .acc-head::before {
        left: 40px;
    }
    .acc-head::after {
        left: 31px;
    }
    .views-card .btm-content h6 {
        font-size: 28px;
        line-height: normal;
    }
    .views-card .btm-content span {
        font-size: 22px;
        line-height: normal;
    }
    .footer-content > h2 {
        font-size: 48px;
    }
    .the-diffrences-wrap {
        margin: 80px auto 0;
    }
    .testimonial > .container > .qoute-img {
        top: 220px;
        left: 0;
    }
    .faq-sec-content {
        margin-top: 80px;
    }
    .cussive-line-shape {
        top: 180px;
    }
}
@media screen and (max-width:768px){
    .site-banner-warp .grid {
        grid-template-columns: 100%;
        grid-gap: 60px;
    }
    .site-banner {
        height: auto;
        padding: 180px 0 120px;
    }
    .speaker {
        transform: translate(-50%, 60px);
        left: 50%;
    }
    .stack-cards .card  p {
        font-size: 40px;
    }
    .the-diffrences-wrap .grid {
        grid-template-columns: 100%;
    }
    .media-logo {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .media-logo img[alt="umediaprologobg"] {
        order: 1;
    }
    .media-logo span {
        order: 2;
        text-align: center;
        font-size: 22px;
        max-width: max-content;
        margin-right: 140px;
    }
    .media-logo img {
        order: 3;
    }
    .media-text h3 {
        font-size: 24px;
        margin: 0 auto;
    }
    .media-logo img[alt="arrow-right"] {
        transform: rotate(90deg);
        margin: 30px 0;
    }
    .benefits-list {
        grid-template-columns: 2.2fr 1fr;
        grid-gap: 15px;
    }
    .just-imagine-wrap .grid {
        grid-template-columns: 100%;
    }
    .just-imagine-content {
        text-align: center;
    }
    .timing {
        text-align: center;
        padding-right: 0;
        position: relative;
        max-width: 360px;
        margin: 0 auto;
    }
    .footer-middle > .grid {
        grid-template-columns: 100%;
        grid-gap: 20px;
    }
    .footer-social ul {
        gap: 35px;
        margin-bottom: 20px;
    }
    .footer-social p {
        font-size: 20px;
    }
    .views-card .top-content {
        width: 230px;
    }
    .views-card .top-content h4 {
        font-size: 68px;
    }
    .views-card .top-content span {
        font-size: 68px;
    }
    .views-card .top-content::before {
        inset: 5px;
    }
    .stack-cards {
        padding: 80px 0;
    }
    .stack-cards .card {
        min-height: 350px;
    }
    .stack-cards .card  p {
        font-size: 34px;
    }
    .quote-icon {
        width: 66px;
        height: 66px;
    }
    .card_content p {
        font-size: 22px;
    }
}

@media screen and (max-width:575px){
    .benefits {
        padding: 40px 0 80px;
    }
    .benefits-list {
        grid-template-columns: 1fr auto;
    }
    .footer-social ul {
        gap: 20px;
    }
    .card_content {
        min-height: 301px;
    }
    .stack-cards .card {
        min-height: 270px;
        padding: 20px;
    }
    .stack-cards .card  p {
        font-size: 26px;
    }
    .just-imagine-content .M-clr_btn a {
        padding: 10px 25px;
    }
    .primary-btn a {
        font-size: 16px;
        padding: 8px 30px;
    }
    .M-clr_btn a {
        font-size: 16px;
    }
    .site-footer {
        padding: 80px 0 30px;
    }
    .footer-middle {
        margin: 60px 0 60px;
    }
    .dot-shape img {
        max-width: 120px;
    }
    .acc-head h4 {
        font-size: 20px;
    }
    .acc-content p {
        font-size: 16px;
    }
    ul.cross-list {
        display: none;
    }
    .faq-sec-content {
        margin-top: 40px;
    }
    .stack-cards {
        padding: 40px 0;
    }
}

@media screen and (max-width:460px){
    .benefits-list ul li {
        padding: 15px 0;
        grid-gap: 15px;
    }
    .check-list li p {
        font-size: 16px;
    }
    .testimonial > .container > .qoute-img {
        top: 250px;
    }
}