/* font-faimly  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=var(--rubik):ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=var(--rubik):ital,wght@0,300..900;1,300..900&display=swap');
/*global start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

:root {
   
    --black: #1D1D1D;
    --common-bg:#F9FAFB;
    --red:#FF1B1B;
    --red-light:#FFCECF;
    --green:#85C66A;
    --light-green:rgba(0, 200, 136, 0.14);
    --light-gray:#667085;
    --rubik: "Rubik", sans-serif;
    --dancing:"Dancing Script", cursive;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

a:hover {
    color: inherit;
}

img,
video {
    max-width: 100%;
}

span {
    display: inline-block;
}
summary {
    list-style-type: none;
}

figure{
    margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p{
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: var(--black);
    text-transform: none;
}
.container {
    width: 100%;
    max-width: 1532px;
    margin: 0 auto;
    padding: 0 15px;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.item {
    width: 100%;
}

header.site-header {
    padding: 60px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
header.site-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.site-nav {
    width: 400px;
    background: linear-gradient(0deg, #202121 1.04%, #181818 61.72%, #022432 133.91%);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(30px);
    transform: translateX(100%);
    padding: 80px;
}

nav.site-nav a {
    font-size: 30px;
    text-transform: capitalize;
    color: #fff;
    display: block;
    margin-bottom: 15px;
    text-shadow: 1px 1px #000;
}

nav.site-nav > i {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 35px;
    aspect-ratio: 1;
    text-align: center;
    display: block;
    cursor: pointer;
    color: var(--green);
    font-size: 35px;
    transition: all 0.2s linear;
}

.menu-btn {
    font-size: 30px;
    color: #fff;
    display: block;
    cursor: pointer;
}
.section-title {
    color: #73AD59;
    text-align: center;
    font-family: "Dancing Script";
    font-size: 98px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.sub-title {
    color: #6D6F70;
    text-align: center;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
/* site banner start  */
.site-banner {
    background: linear-gradient(0deg, #202121 1.04%, #181818 61.72%, #022432 133.91%);
    /* padding: 180px 0 150px; */
    height: 936px;
    position: relative;
}
.ray-img {
    position: absolute;
    right: 0;
    top: -40px;
}
.site-banner-warp .grid {
    grid-template-columns: 1fr 1.4fr;
    grid-gap: 20px;
    align-items: end;
}
.site-banner .container {
    height: 100%;
}
.site-banner  .site-banner-warp {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-content h2 {
    color: #7FC849;
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.5%;
    margin: 0 0 80px;
    max-width: 90%;
}
.banner-content h2 b {
    font-weight: 700;
    font-size: 64px;
}
.M-clr_btn {
    background: linear-gradient(0deg, #02586A, #85C66A);
    display: inline-block;
    padding: 2px;
    border-radius: 80px;
    overflow: hidden;
}
.M-clr_btn-inner {
    padding: 2px;
    background: #1d1e1e;
    border-radius: inherit;
    transition: all 0.2s ease-in-out;
}
.M-clr_btn:hover .M-clr_btn-inner {
    background: transparent;
}
.M-clr_btn a {
    padding: 10px 50px;
    border-radius: inherit;
    background: -webkit-linear-gradient(0deg, #02586a, #85c66a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--var(--rubik));
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    min-width: max-content;
    transition: all 0.2s ease-in-out;
}
.M-clr_btn:hover a {
    background: transparent;
    color: #fff;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
}
.primary-btn {
    background: linear-gradient(0deg, #02586A, #85C66A);
    display: inline-block;
    padding: 2px;
    border-radius: 80px;
    overflow: hidden;
}
.primary-btn-inner {
    padding: 2px;
    background: #313131;
    border-radius: inherit;
    transition: all 0.2s ease-in-out;
}
.primary-btn:hover .primary-btn-inner {
    background: transparent;
}
.primary-btn a {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    min-width: max-content;
    padding: 20px 30px;
}
.banner-img {
    position: relative;
}
.speaker {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-210px, 40px);
    z-index: 1;
}
.speaker img {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.speaker img[alt="soundwave"] {
    margin-top: -150px;
}
.banner-img > figure {
    position: relative;
}
.rec-asset {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
}


/* card stack start  */
.stack-cards {
    padding: 110px 0;
}
.stack-cards .cards {
    width: 100%;
    position:relative;
}
.stack-cards .card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 40px;
    position: sticky;
    top: calc(var(--item) * 20px);
    min-height: 600px;
    border-radius: 60px;
    overflow: hidden;
    gap: 60px;
    padding: 50px 20px;
}
.stack-cards .card img {
    position: absolute;
    inset: 0;
    display: none;
}
.stack-cards .card[style="--item:1;"] {
    background: url("../images/card-1.svg") no-repeat center / cover,   linear-gradient(180deg, #85C66A 0%, #1E353E 100%);
    background-blend-mode: multiply;
}
.stack-cards .card[style="--item:2;"] {
    background: url("../images/card-2.svg") no-repeat center / cover,   linear-gradient(180deg, #EF7969 0%, #000000 100%);
    background-blend-mode: multiply;
}
.stack-cards .card[style="--item:3;"] {
    background: url("../images/card-3.svg") no-repeat center / cover,   linear-gradient(180deg, #8280D2 0%, #000000 100%);
    background-blend-mode: multiply;
}
.stack-cards .card[style="--item:4;"] {
    background: url("../images/card-4.svg") no-repeat center / cover,   linear-gradient(180deg, #16A392 0%, #041F0D 100%);
    background-blend-mode: multiply;
}
.stack-cards .card[style="--item:1;"]::before{
    background: linear-gradient(180deg, #85C66A 0%, #1E353E 100%);
    opacity: 0.1;
}
.stack-cards .card span {
    color: #FFF;
    text-align: center;
    font-family: var(--rubik);
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 51.5px;
    text-decoration-line: underline;
}
.stack-cards .card  p {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 78px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    max-width: 900px;
}

/* card stack end  */ 
/* vdieo sec  */
.video-sec video {
    display: block;
}
/* views-sec start  */
.views-sec {
    padding: 200px 0 120px;
}
.views-sec-wrap .grid {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}
.views-card {
    text-align: center;
    margin-bottom: 40px;
}
.views-card .top-content {
    background: #F1F1F1;
    width: 265px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}
.views-card .top-content::before {
    content: "";
    position: absolute;
    background: url("../images/curve-line.svg");
    inset: 12px;
    background-repeat: no-repeat;
    background-position: top left;
}
.views-sec-wrap .grid .item:nth-of-type(2) .top-content::before {
    transform: rotate(30deg);
}
.views-sec-wrap .grid .item:nth-of-type(3) .top-content::before {
    transform: rotate(80deg);
}
.views-card .btm-content {
    margin-top: 88px;
}

.views-card .top-content h4 {
    text-align: center;
    font-family: Lato;
    font-size: 114px;
    font-weight: 800;
    line-height: 1;
    background: linear-gradient(189deg, #AAE291 6.55%, #21273C 110.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
    display: flex;
    align-items: end;
}
.views-card .top-content h4 sub {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 10px;
}
.views-card .btm-content h6 {
    color: #21273C;
    text-align: center;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 51.5px;
}
.views-card .btm-content span {
    color: #555D67;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 51.5px;
}
/* views-sec end  */
/* the-diffrences start  */
.the-diffrences {
    padding: 40px 0;
}
.diff-heading {
    text-align: center;
    font-family: Lato;
    font-size: 82px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    text-transform: uppercase;
    background: linear-gradient(88deg, #95E871 17.98%, #406965 48.71%, #B59CA2 80.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.the-diffrences-wrap {
    max-width: 1200px;
    margin: 100px auto 0;
}
.the-diffrences-wrap .grid {
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 20px;
}

.media-logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.media-logo span {
    width: 100%;
    color: #555D67;
    font-family:var(--rubik);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-top: -30px;
}
.media-logo img[alt="umediaprologobg"] {
    width: 100%;
    max-width: 448px;
    margin-right: 100px;
}
.media-text h3 {
    color: #979797;
    font-size: 51px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    max-width: 324px;
    text-align: center;
}

/* the-diffrences end  */
/* benefits start  */
.benefits {
    padding: 120px 0 150px;
    background: url("../images/strip-shape.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.benefits .container {
    max-width: 1400px;
}

.benefits-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

}
.benefits-list ul li {
    position: relative;
    padding: 40px 0;
}
.benefits-list ul li::before {
    content: "";
    position: absolute;
    background: url("../images/dotted-line.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
}
.check-list li {
    display: grid;
    grid-template-columns: auto  1fr;
    grid-gap: 30px;
}
.check-list li p {
    color: #21273C;
    font-family: var(--rubik);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}
.cross-list .cross {
    text-align: center;
}
/* benefits end  */
/* testimonial start  */
.testimonial {
    padding: 80px 0 150px;
    background: url("../images/testimonial-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.testimonial > .container {
    max-width: 1360px;
}
.testimonial-card-warp {
    margin-top: 50px;
    position: relative;
    isolation: isolate;
}
.testimonial-card-warp .qoute-img {
    position: absolute;
    left: 100px;
    top: 60px;
    transform: translate(-100%, -100%);
    z-index: -1;
}
.testimonial-card-warp > .grid {
    grid-gap: min(4vw, 60px);
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
}
.testimonial-content > p {
    color: #FFF;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    max-width: 1070px;
    margin-left: auto;
}
.testimonial-content .section-title {
    text-align: left;
    max-width: 1080px;
    margin-left: auto;
}
.card_img {
    overflow: hidden;
}
.card_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}
.card_img:hover img {
    transform: scale(1.1) skew(2deg, 2deg);
}
.card_content {
    background: #D9D9D9;
    padding: 63px 35px 43px;
    position: relative;
    min-height: 390px;
}

.quote-icon {
    width: 86px;
    height: 86px;
    border-radius: 50%;
}
.testimonial-card .quote-icon {
    position: absolute;
    top: 0;
    left: auto;
    transform: translateY(-50%);
}
.card_content p {
    color: #6D6F70;
    font-family: var(--rubik);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    text-transform: capitalize;
}
/* testimonial end  */
/* faq start  */
.faq-sec {
    padding: 100px 0 20px;
    position: relative;
}
.faq-sec .container {
    max-width: 1400px;
}

.faq-sec-content {
    margin-top: 200px;
    position: relative;
}
.cussive-line-shape {
    position: absolute;
    top: -250px;
    left: -190px;
    z-index: -1;
}
.acc-container {
    width: 100%;
  }
  
.acc {
    margin-bottom: 28px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.16);
}
  
.acc-head {
    padding: 50px;
    font-size: 22px;
    position: relative;
    cursor: pointer;
    padding-left: 120px;
}
  
   .acc-head::before,
   .acc-head::after {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #000;
    transition: all .3s;
   }

.acc-head::before {
    left: 65px;
    width: 2px;
    height: 20px;
    margin-top: -10px;
}
  
.acc-head::after {
    left: 56px;
    width: 20px;
    height: 2px;
    margin-top: -1px;
}
  .acc-head.active::before, .acc-head.active::after {
    background: #73AD59;
}
  .acc-head p {
    color: #fff;
    font-weight: bold;
  }
  
  .acc-content {
    padding: 0 10px 50px 120px;
    margin-top: -10px;
    display: none;
}
          
  .acc-head.active::before {
      transform: rotate(90deg);
  }
  
  .acc-content p {
    color: #21273C;
    font-family: var(--rubik);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 51.5px;
}
.acc-head h4 {
    color: #21273C;
    font-family: var(--rubik);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 51.5px;
}
.faq-shape-1 {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}
.faq-shape-1 img {
    transform: translateY(-200px);
}
.faq-shape-2 {
    position: absolute;
    left: 0;
    bottom: -185px;
    overflow: hidden;
    height: 742px;
}
.faq-shape-2 img {
    height: 100%;
    width: 100%;
}
/* just-imagine start  */
.just-imagine {
    padding: 80px 0;
}
.just-imagine-wrap .grid {
    align-items: center;
    grid-gap: 10px;
}
.just-imagine-content .M-clr_btn-inner {
    background: #fff;
}
.just-imagine-content h4, .just-imagine-content h3 {
    color: #555D67;
    font-family: var(--var(--rubik));
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 128.5%;
}
.just-imagine-content h3{
    font-size: 60px;
}
.just-imagine-content p {
    color: #555D67;
    font-family:var(--var(--rubik));
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 128.5%;
}
.just-imagine-content p span {
    color: #85C66A;
    font-weight: 500;
}
.just-imagine-content .M-clr_btn {
    margin-top: 50px;
}
.timing {
    text-align: right;
    padding-right: 80px;
    position: relative;
}
.timing button {
    color: #555D67;
    font-family: var(--var(--rubik));
    font-size: 40px;
    font-weight: 500;
    line-height: 128.5%;
    background: #fff;
    border: 2px solid var(--green);
    border-radius: 60px;
    font-style: italic;
    padding: 5px 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.timing button:hover{
    color: #fff;
}
.timing button::before {
    content: "";
    position: absolute;
    background: var(--green);
    inset: 0;
    width: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}
.timing button:hover::before {
    width: 100%;
}
.time {
    font-size: min(35vw, 60rem );
    line-height: 1;
    font-family: 'Digital-7';
    color: var(--green);
}
/* site-footer */
.site-footer {
    padding: 80px 0;
    background: #313131;
    position: relative;
}
.dot-shape {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.dot-shape img {
    transform: translateY(calc(-50% + -10px));
}
.footer-content > h2 {
    text-align: center;
    font-family: Lato;
    font-size: 82px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    background: linear-gradient(88deg, #95E871 17.98%, #406965 48.71%, #B59CA2 80.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px;
    margin-bottom: 42px;
}
.footer-social ul li a {
    color: #73AD59;
    font-size: 30px;
    text-shadow: 0 50px #73AD59;
    height: 40px;
    overflow: hidden;
    transition: all 0.2s linear;
}
.footer-social ul li a:hover {
    text-shadow: 0 0px #73AD59;
    }
    
    .footer-social ul li a:hover {
        transform: scale(1.2);
    }
.footer-social p {
    color: #656565;
    text-align: center;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.footer-middle {
    margin: 79px 0 132px;
}
.footer-middle p {
    color: #FFF;
    font-family: Lato;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer-middle .item {
    text-align: center;
}
.footer-middle > .grid {
    align-items: center;
}
.footer-middle p a {
    font-weight: 400;
    font-size: 29px;
    display: inline-flex;
    align-items: center;
    gap: 30px;
}

